/* _content/SpaceTourismWebSite/Controls/CrewMemberComponent.razor.rz.scp.css */
/*  GOOGLE FONT  */

/*   
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/


.crew-body[b-1mtso0i8tl] {
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

.member-info[b-1mtso0i8tl] {
    position: absolute;
    left: 167px;
    margin-top: 174px;
}

.member-info + img[b-1mtso0i8tl] {
    position: absolute;
    left: 770.93px;
}

.member-info h2[b-1mtso0i8tl] {
    font-family: 'Bellefair', serif;
    box-sizing: border-box;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 15px;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.member-info h1[b-1mtso0i8tl] {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 34px;
}

.member-info p[b-1mtso0i8tl] {
    font-family: 'Barlow', sans-serif;
    color: var(--light-blue);
    width: 444px;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 113px;
}

.progress-container[b-1mtso0i8tl] {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 132px;
}

.progress-container a:hover[b-1mtso0i8tl] {
    opacity: 0.5;
}

.progress-container a:active[b-1mtso0i8tl] {
    opacity: 1
}
   

.circle[b-1mtso0i8tl] {
    background-color: var(--white);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    opacity: 0.17;
    mix-blend-mode: normal;
    transition: 0.4s ease;
}

.active[b-1mtso0i8tl] {
    opacity: 1;
}
/* _content/SpaceTourismWebSite/Controls/EquipmentComponent.razor.rz.scp.css */
/*  GOOGLE FONT  */

/*   
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/

.tech-body[b-zxajnvz1m7] {
    display: flex;
    margin-top: 145px;
}

.launch-container[b-zxajnvz1m7] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 137px;
    margin-left: 166.5px;
    height: 304px;
}

    .launch-container a:hover[b-zxajnvz1m7] {
        border: 1px solid var(--white);
        transition: 0.4s ease;
    }

.circle[b-zxajnvz1m7] {
    color: var(--white);
    font-family: 'Bellefair', serif;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    mix-blend-mode: normal;
    border: 1px solid rgba(255, 255, 255, 0.25);
    text-decoration: none;
    transition: 0.4s ease;
}


.active[b-zxajnvz1m7] {
    background: var(--white);
    color: var(--black);
}

.tech-message[b-zxajnvz1m7] {
    width: 470px;
    margin-top: 137px;
    margin-left: 80px;
}

.tech-message h5[b-zxajnvz1m7] {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: var(--light-blue);
    margin-bottom: 11px;
}

.tech-message h1[b-zxajnvz1m7] {
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    font-size: 56px;
    line-height: 64px;
    color: var(--white);
    margin-bottom: 17px;
    white-space: nowrap;
}

.tech-message p[b-zxajnvz1m7] {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 32px;
    width: 444px;
    color: var(--light-blue);
}

.tech-body img[b-zxajnvz1m7] {
    margin-left: 130px;
}
/* _content/SpaceTourismWebSite/Controls/ExploreButtonComponent.razor.rz.scp.css */

/*  Explore Button  */

.container[b-augwjhhhch] {
    position: absolute;
    left: 745px;
    top: 17px;
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-btn[b-augwjhhhch] {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    letter-spacing: 2px;
    color: var(--black);
    height: 274px;
    width: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    z-index: 1;
}

.circle-overlay[b-augwjhhhch] {
    position: absolute;
    background: var(--white);
    height: 450px;
    width: 450px;
    border-radius: 50%;
    mix-blend-mode: normal;
    border: none;
    opacity: 0;
    transition: 0.4s;
}

.container a:link[b-augwjhhhch],
.container a:visited[b-augwjhhhch] {
    text-decoration: none;
    color: var(--black);
}
/* _content/SpaceTourismWebSite/Controls/PlanetsComponent.razor.rz.scp.css */
/*  GOOGLE FONT  */

/*   
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/

.planet-body[b-hyweo7ic62] {
    position: absolute;
    left: -601.5px;
    height: 445px;
    width: 1046px;
    display: flex;
    justify-content: space-between;
}

.planet-message[b-hyweo7ic62] {
    height: 392px;
    width: 444px;
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

img[b-hyweo7ic62] {
    height: 445px;
    width: 445px;
}

.planet-body h1[b-hyweo7ic62] {
    font-size: 100px;
    margin-bottom: 14px;
    font-family: 'Bellefair', serif;
}

.planet-message p:nth-child(2)[b-hyweo7ic62] {
    font-size: 18px;
    line-height: 32px;
    font-family: 'Barlow', sans-serif;
}

.distance-travel[b-hyweo7ic62] {
    display: flex;
    margin-top: 27px;
}

.distance-travel h3[b-hyweo7ic62] {
    font-family: 'Bellefair', serif;
    font-size: 28px;
}

.distance-travel p[b-hyweo7ic62] {
    font-family: 'Barlow Condensed', sans-serif;
    height: 17px;
    font-size: 14px;
    letter-spacing: 2.36px;
    margin-bottom: 12px;
}

.distance-travel div:nth-child(1)[b-hyweo7ic62]  {
    margin-right: 79px;
}

.line2[b-hyweo7ic62] {
    margin-top: 46px;
    border-bottom: 1px solid white;
    opacity: 0.25;
    height: 1px;
    width: 444px;
}
/* _content/SpaceTourismWebSite/Controls/SubTitleComponent.razor.rz.scp.css */
.title-info[b-0yvhtd3do5] {
    position: relative;
    left: 166.5px;
    top: 112px;
    width: 400px;
    height: 34px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.72px;
}

.title-info span[b-0yvhtd3do5] {
    margin-right: 28px;
    letter-spacing: 4.72px;
    opacity: 0.25;
}
/* _content/SpaceTourismWebSite/Pages/CrewComponent.razor.rz.scp.css */
.page-setup[b-0mfkhqbax9] {
    margin-top: 200px;
    width: 100%;
}

/* _content/SpaceTourismWebSite/Pages/DestinationComponent.razor.rz.scp.css */
.mini-nav-body[b-ybxqefc3pk] {
    position: relative;
    height: 34px;
    width: 285.5px;
    left: 832px;
    top: 210px;
}

.destination-nav[b-ybxqefc3pk] {
    height: 34px;
    width: 285.5px;
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
}

    .destination-nav a[b-ybxqefc3pk] {
        display: inline-block;
        height: 100%;
    }

        .destination-nav a:link[b-ybxqefc3pk], .destination-nav a:visited[b-ybxqefc3pk] {
            text-decoration: none;
            color: var(--white);
        }

        .destination-nav a:hover[b-ybxqefc3pk] {
            border-bottom: 3px solid rgba(255, 255, 255, 0.4);
        }

        .destination-nav a:active[b-ybxqefc3pk] {
            text-decoration: none;
            border-bottom: 3px solid var(--white);
        }
/* _content/SpaceTourismWebSite/Pages/Index.razor.rz.scp.css */
/*  GOOGLE FONT  */

/*   
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/

/*  HOME-SPACE-INFO  */

html[b-nem8b9r9y9] {
    background-image: url("/assets/technology/background-technology-desktop.jpg")
}

.home-body[b-nem8b9r9y9] {
    position: relative;
    height: 42%;
    width: 75%;
    height: 382px;
    width: 1109px;
    margin: 254px 165px 131px 165px;
    display: flex;
    justify-content: space-between;
}

    .home-body h3[b-nem8b9r9y9] {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 28px;
        letter-spacing: 4.72px;
        margin-bottom: 58px;
    }

    .home-body h1[b-nem8b9r9y9] {
        font-family: 'Bellefair', serif;
        font-size: 150px;
        margin-bottom: 24px;
    }

.space-message[b-nem8b9r9y9] {
    height: 100%;
    width: 450px;
}

.space-message p[b-nem8b9r9y9] {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 32px;
    width: 444px;
}

@media (max-width: 48rem) {
    html[b-nem8b9r9y9] {
        background-image: url("/wwwroot/assets/home/background-home-tablet.jpg")
    }
}
/* _content/SpaceTourismWebSite/Pages/TechnologyComponent.razor.rz.scp.css */
/* _content/SpaceTourismWebSite/Shared/MainLayout.razor.rz.scp.css */
/* _content/SpaceTourismWebSite/Shared/NavBar.razor.rz.scp.css */
/*  NavBar  */

.NavBar[b-86oanrukko] {
    position: relative;
    margin: 37px 0 0 auto;
    min-height: 96px;
    max-width: 96%;
    letter-spacing: 2.7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
}

.NavRect[b-86oanrukko] {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81px);
    min-height: inherit;
    width: 60%;
    padding: 0;
    display: flex;
}

    .NavRect ul[b-86oanrukko] {
        list-style: none;
        width: 80%;
        margin-left: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 57px;
    }

    .NavRect a[b-86oanrukko] {
        display: inline-block;
        padding: 38px 0;
        text-decoration: none;
        border-bottom: 3px solid rgba(255, 255, 255, 0);
    }


        .NavRect a:link[b-86oanrukko], .NavRect a:visited[b-86oanrukko] {
            color: var(--white);
        }

        .NavRect a:hover[b-86oanrukko] {
            padding: 38px 0;
            border-bottom: 3px solid rgba(255, 255, 255, 0.4);
        }

        .NavRect a:active[b-86oanrukko] {
            text-decoration: none;
            border-bottom: 3px solid var(--white);
        }

a[href="/"] .bold[b-86oanrukko] {
    margin-right: 0.7rem;
}

a[href="destinations"] .bold[b-86oanrukko] {
    margin-right: 14px;
}

a[href="crew-members"] .bold[b-86oanrukko] {
    margin-right: 12px;
}

a[href="technologies"] .bold[b-86oanrukko] {
    margin-right: 12px;
}

.bold[b-86oanrukko] {
    font-weight: 700;
}

.focus[b-86oanrukko] {
    border-bottom: 3px solid var(--white);
}

.line[b-86oanrukko] {
    position: relative;
    left: 3em;
    border-bottom: 1px solid white;
    opacity: 0.25;
    height: 1px;
    width: 33%;
    z-index: 1;
}

.logo[b-86oanrukko] {
    height: 3em;
    width: 3em;
    align-self: center;
}

.toggle-nav-icon[b-86oanrukko] {
    display: none;
}

/*Tablet Size*/

@media (max-width: 48rem) {
    .line[b-86oanrukko] {
        display: none;
    }

    .NavBar[b-86oanrukko] {
        margin: 0 0 0 39px;
        max-width: 45rem;
        font-size: 0.8em;
    }

    .NavRect[b-86oanrukko] {
        max-width: 28rem;
    }

        .NavRect ul[b-86oanrukko] {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin: 0;
        }

        .NavRect .bold[b-86oanrukko] {
            display: none;
        }
}

@media (max-width: 37rem) {
    .NavBar[b-86oanrukko] {
    }

    .NavRect[b-86oanrukko] {
        position: fixed;
        inset: 0 0 0 32%;
        width: 68%;
        border: 2px solid orange;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }

        .NavRect[data-visible="true"][b-86oanrukko] {
            transform: translateX(0);
        }

        .NavRect ul[b-86oanrukko] {
            position: fixed;
            margin: 7rem 6rem 24rem 2rem;
            height: 11rem;
            width: 50%;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            font-size: 1rem;
        }

        .NavRect li[b-86oanrukko] {
            width: 100%;
        }

        .NavRect a[b-86oanrukko] {
            padding: 0;
            border: none;
        }

        .NavRect a:hover[b-86oanrukko] {
            padding: 0;
            border: none;
        }

        .NavRect .bold[b-86oanrukko] {
            display: contents;
        }


    .logo[b-86oanrukko] {
        align-self: flex-start;
    }

    .toggle-nav-icon[aria-expanded="true"][b-86oanrukko] {
        background-image: url("/assets/shared/icon-close.svg");
        /*position: relative;
        
        top: 2rem;
        height: 19px;
        width: 19px;
        margin: 0;
        display: unset !important;*/
    }

    .toggle-nav-icon[b-86oanrukko] {
        position: absolute;
        background-image: url("/assets/shared/icon-hamburger.svg");
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        left: 88%;
        display: block;
        z-index: 1;
    }
}
