/* _content/SpaceTourismWebSite/Controls/ExploreButtonComponent.razor.rz.scp.css */

/*  Explore Button  */

.container[b-augwjhhhch] {
    position: absolute;
    left: 911px;
    top: 405px;
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-btn[b-augwjhhhch] {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    letter-spacing: 2px;
    color: var(--black);
    height: 274px;
    width: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    z-index: 1;
}

.circle-overlay[b-augwjhhhch] {
    position: absolute;
    background: var(--white);
    height: 450px;
    width: 450px;
    border-radius: 50%;
    mix-blend-mode: normal;
    border: none;
    opacity: 0;
    transition: 0.4s;
}

.container a:link[b-augwjhhhch],
.container a:visited[b-augwjhhhch] {
    text-decoration: none;
    color: var(--black);
}
/* _content/SpaceTourismWebSite/Pages/Index.razor.rz.scp.css */
/*  GOOGLE FONT  */

/*   
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/

/*  HOME-SPACE-INFO  */

.home-body[b-nem8b9r9y9] {
    height: 42%;
    width: 75%;
    height: 382px;
    width: 1109px;
    margin: 254px 165px 131px 165px;
    display: flex;
    justify-content: space-between;
}

    .home-body h3[b-nem8b9r9y9] {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 28px;
        letter-spacing: 4.72px;
        margin-bottom: 58px;
    }

    .home-body h1[b-nem8b9r9y9] {
        font-family: 'Bellefair', serif;
        font-size: 150px;
        margin-bottom: 24px;
    }

.space-message[b-nem8b9r9y9] {
    height: 100%;
    width: 450px;
}

    .space-message p[b-nem8b9r9y9] {
        font-family: 'Barlow', sans-serif;
        font-size: 18px;
        line-height: 32px;
        width: 444px;
    }
/* _content/SpaceTourismWebSite/Shared/MainLayout.razor.rz.scp.css */
/* _content/SpaceTourismWebSite/Shared/NavBar.razor.rz.scp.css */
/*  NavBar  */

.NavBar[b-86oanrukko] {
    margin: 37px 0 0 auto;
    height: 96px;
    width: 1385px;
    letter-spacing: 2.7px;
    display: flex;
    align-items: center;
}

.NavRect[b-86oanrukko] {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81px);
    height: 96px;
    width: 830px;
    padding: 0;
    display: flex;
    position: absolute;
    left: 610px;
    top: 37px;
    font-family: 'Barlow Condensed', sans-serif;
}

    .NavRect ul[b-86oanrukko] {
        width: 80%;
        margin-left: 30px;
        display: flex;
        justify-content: space-evenly;
        margin-left: 57px;
    }

        .NavRect ul li[b-86oanrukko] {
            display: flex;
        }

    .NavRect a[b-86oanrukko] {
        display: inline-block;
        position: relative;
        height: 55%;
        top: 42px;
        font-size: 16px;
        text-decoration: none;
    }


        .NavRect a:link[b-86oanrukko], .NavRect a:visited[b-86oanrukko] {
            color: var(--white);
        }

        .NavRect a:hover[b-86oanrukko] {
            border-bottom: 3px solid rgba(255, 255, 255, 0.4);
        }

        .NavRect a:active[b-86oanrukko] {
            text-decoration: none;
            border-bottom: 3px solid var(--white);
        }


.line[b-86oanrukko] {
    position: absolute;
    border-bottom: 1px solid white;
    opacity: 0.25;
    height: 1px;
    width: 473px;
    left: 165px;
    top: 85px;
    z-index: 1;
}

.logo[b-86oanrukko] {
    height: 48px;
    width: 48px;
    align-self: center;
}
