@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@100;400&family=Bellefair&display=swap');

/*  CUSTOM VARIABLES  */
:root {
    --black: #0b0d17;
    --light-blue: #D0D6F9;
    --white: #FFFFFF;
}

/*  GOOGLE FONT  */

/*   
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/

/* General Style For Website */
* {
    box-sizing: border-box;
}

html {
    height: 900px;
    width: 1440px;
    background-size: cover;
}


body {
    color: var(--white);
    min-height: 100%;
    min-width: 100%;
    background: url("/assets/home/background-home-desktop.jpg") no-repeat center center fixed;
    display: block;
}


