@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@100;400&family=Bellefair&display=swap');

/*  CUSTOM VARIABLES  */
:root {
    --black: #0b0d17;
    --light-blue: #D0D6F9;
    --white: #FFFFFF;
}

/*  GOOGLE FONT  */

/*   
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/

/* General Style For Website */
* {
    box-sizing: border-box;
}

html {
    height: 900px;
    width: 1440px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body {
    color: white;
    min-height: 100%;
    background: url("/assets/home/background-home-desktop.jpg") no-repeat center center fixed;
}

/*  NavBar  */

.NavBar {
    margin: 37px 0 0 auto;
    height: 96px;
    width: 1385px;
    color: var(--white);
    letter-spacing: 2.7px;
    display: flex;
    align-items: center;
}

.NavRect {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81px);
    height: 96px;
    width: 830px;
    padding: 0;
    display: flex;
    position: absolute;
    left: 610px;
    top: 37px;
    font-family: 'Barlow Condensed', sans-serif;
}

    .NavRect ul {
        width: 80%;
        margin-left: 30px;
        display: flex;
        justify-content: space-evenly;
        margin-left: 57px;
    }

        .NavRect ul li {
            display: flex;
        }

    .NavRect a {
        display: inline-block;
        position: relative;
        height: 55%;
        top: 42px;
        font-size: 16px;
    }


        .NavRect a:link {
            text-decoration: none;
        }

        .NavRect a:visited {
            color: var(--white);
        }

        .NavRect a:hover {
            border-bottom: 3px solid rgba(255, 255, 255, 0.4);
        }

        .NavRect a:active {
            text-decoration: none;
            border-bottom: 3px solid var(--white);
        }


.line {
    position: absolute;
    border-bottom: 1px solid white;
    opacity: 0.25;
    height: 1px;
    width: 473px;
    left: 165px;
    top: 85px;
    z-index: 1;
}

.logo {
    height: 48px;
    width: 48px;
    align-self: center;
}

/*  HOME-SPACE-INFO  */

.home-body {
    /* height: 42%;
    width: 75%; */
    height: 382px;
    width: 1109px;
    margin: 254px 165px 131px 165px;
    display: flex;
    justify-content: space-between;
}

    .home-body h3 {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 28px;
        letter-spacing: 4.72px;
        margin-bottom: 58px;
    }

    .home-body h1 {
        font-family: 'Bellefair', serif;
        font-size: 150px;
        margin-bottom: 24px;
    }

.space-message {
    height: 100%;
    width: 450px;
}

    .space-message p {
        font-family: 'Barlow', sans-serif;
        font-size: 18px;
        line-height: 32px;
        width: 444px;
    }

/*  Explore Button  */
.container {
    position: absolute;
    left: 911px;
    top: 405px;
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-btn {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    letter-spacing: 2px;
    color: var(--black);
    height: 274px;
    width: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    z-index: 1;
}

.circle-overlay {
    position: absolute;
    background: var(--white);
    height: 450px;
    width: 450px;
    border-radius: 50%;
    mix-blend-mode: normal;
    border: none;
    opacity: 0;
    transition: .4s
}

.container a:link,
.container a:visited {
    text-decoration: none;
    color: var(--black);
}
