@page "/crew-members"

<PageTitle>CrewComponent</PageTitle>

<NavBar />

<SubTitleComponent CssClass="destination-pick title" MenuItem="02" Title="MEET YOUR CREW" />
<section class="PageSetup">
    <CrewMemberComponent />
</section>


@code {

}
