@page "/destinations"
@using BlazorAnimate;

<PageTitle>Destinations</PageTitle>

<NavBar />

<Animate Animation="Animations.SlideRight" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0.5)">

    <SubTitleComponent CssClass="title-info" MenuItem="01" Title="PICK YOUR DESTINATION" />

    <div class="mini-nav-body">
        <ul class="destination-nav">
            <li><a @onclick="() => numPos = 0">MOON</a></li>
            <li><a @onclick="() => numPos = 1">MARS</a></li>
            <li><a @onclick="() => numPos = 2">EUROPA</a></li>
            <li><a @onclick="() => numPos = 3">TITAN</a></li>
        </ul>
        <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.8)">
            <PlanetsComponent Index=numPos />
        </Animate>
    </div>

</Animate>


@code {
    public int numPos;

}
