@page "/"
@using BlazorAnimate;

<PageTitle>Home</PageTitle>

<NavBar />
@*
<Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0.5)">
    <section class="home-body">
        <div class="space-message">

            <h3>SO, YOU WANT TO TRAVEL TO</h3>

            <h1>SPACE</h1>

            <p>
                Let’s face it; if you want to go to space, you might as well genuinely go to
                outer space and not hover kind of on the edge of it. Well sit back, and relax
                because we’ll give you a truly out of this world experience!
            </p>
        </div>

        <ExploreButtonComponent />

    </section>
</Animate>*@
