*[b-1mtso0i8tl] {
    border: 1px solid orange;
}
.crew-body[b-1mtso0i8tl] {
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

.member-info[b-1mtso0i8tl] {
    margin-top: 174px;
    margin-right: 81.43px;
}

.member-info p[b-1mtso0i8tl]{
    width: 444px;
    font-size: 18px;
    line-height: 32px;

}

.member-info h2[b-1mtso0i8tl] {
    box-sizing:border-box;
    font-size: 32px;
}

.member-info h1[b-1mtso0i8tl] {

    font-size: 56px;
}

.progress-container[b-1mtso0i8tl] {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 132px;
}