/*  GOOGLE FONT  */

/*   
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/

.planet-body[b-hyweo7ic62] {
    height: 445px;
    width: 1046px;
    margin-left: 230px;
    display: flex;
    justify-content: space-between
}

.planet-message[b-hyweo7ic62] {
    height: 392px;
    width: 444px;
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

img[b-hyweo7ic62] {
    height: 445px;
    width: 445px;
}

.planet-body h1[b-hyweo7ic62] {
    font-size: 100px;
    margin-bottom: 14px;
    font-family: 'Bellefair', serif;
}

.planet-message p:nth-child(2)[b-hyweo7ic62] {
    font-size: 18px;
    line-height: 32px;
    font-family: 'Barlow', sans-serif;
}

.distance-travel[b-hyweo7ic62] {
    display: flex;
    margin-top: 27px;
}

.distance-travel h3[b-hyweo7ic62] {
    font-family: 'Bellefair', serif;
    font-size: 28px;
}

.distance-travel p[b-hyweo7ic62] {
    font-family: 'Barlow Condensed', sans-serif;
    height: 17px;
    font-size: 14px;
    letter-spacing: 2.36px;
    margin-bottom: 12px;
}

.distance-travel div:nth-child(1)[b-hyweo7ic62]  {
    margin-right: 79px;
}

.line2[b-hyweo7ic62] {
    margin-top: 46px;
    border-bottom: 1px solid white;
    opacity: 0.25;
    height: 1px;
    width: 444px;
}
