/*  NavBar  */

.NavBar[b-86oanrukko] {
    position: relative;
    margin: 37px 0 0 auto;
    min-height: 96px;
    max-width: 96%;
    letter-spacing: 2.7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
}

.NavRect[b-86oanrukko] {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81px);
    min-height: inherit;
    width: 60%;
    padding: 0;
    display: flex;
}

    .NavRect ul[b-86oanrukko] {
        list-style: none;
        width: 80%;
        margin-left: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 57px;
    }

    .NavRect a[b-86oanrukko] {
        display: inline-block;
        padding: 38px 0;
        text-decoration: none;
        border-bottom: 3px solid rgba(255, 255, 255, 0);
    }


        .NavRect a:link[b-86oanrukko], .NavRect a:visited[b-86oanrukko] {
            color: var(--white);
        }

        .NavRect a:hover[b-86oanrukko] {
            padding: 38px 0;
            border-bottom: 3px solid rgba(255, 255, 255, 0.4);
        }

        .NavRect a:active[b-86oanrukko] {
            text-decoration: none;
            border-bottom: 3px solid var(--white);
        }

a[href="/"] .bold[b-86oanrukko] {
    margin-right: 0.7rem;
}

a[href="destinations"] .bold[b-86oanrukko] {
    margin-right: 14px;
}

a[href="crew-members"] .bold[b-86oanrukko] {
    margin-right: 12px;
}

a[href="technologies"] .bold[b-86oanrukko] {
    margin-right: 12px;
}

.bold[b-86oanrukko] {
    font-weight: 700;
}

.focus[b-86oanrukko] {
    border-bottom: 3px solid var(--white);
}

.line[b-86oanrukko] {
    position: relative;
    left: 3em;
    border-bottom: 1px solid white;
    opacity: 0.25;
    height: 1px;
    width: 33%;
    z-index: 1;
}

.logo[b-86oanrukko] {
    height: 3em;
    width: 3em;
    align-self: center;
}

.toggle-nav-icon[b-86oanrukko] {
    display: none;
}

/*Tablet Size*/

@media (max-width: 48rem) {
    .line[b-86oanrukko] {
        display: none;
    }

    .NavBar[b-86oanrukko] {
        margin: 0 0 0 39px;
        max-width: 45rem;
        font-size: 0.8em;
    }

    .NavRect[b-86oanrukko] {
        max-width: 28rem;
    }

        .NavRect ul[b-86oanrukko] {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin: 0;
        }

        .NavRect .bold[b-86oanrukko] {
            display: none;
        }
}

@media (max-width: 37rem) {
    .NavBar[b-86oanrukko] {
    }

    .NavRect[b-86oanrukko] {
        position: fixed;
        inset: 0 0 0 32%;
        width: 68%;
        border: 2px solid orange;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }

        .NavRect[data-visible="true"][b-86oanrukko] {
            transform: translateX(0);
        }

        .NavRect ul[b-86oanrukko] {
            position: fixed;
            margin: 7rem 6rem 24rem 2rem;
            height: 11rem;
            width: 50%;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            font-size: 1rem;
        }

        .NavRect li[b-86oanrukko] {
            width: 100%;
        }

        .NavRect a[b-86oanrukko] {
            padding: 0;
            border: none;
        }

        .NavRect a:hover[b-86oanrukko] {
            padding: 0;
            border: none;
        }

        .NavRect .bold[b-86oanrukko] {
            display: contents;
        }


    .logo[b-86oanrukko] {
        align-self: flex-start;
    }

    .toggle-nav-icon[aria-expanded="true"][b-86oanrukko] {
        background-image: url("/assets/shared/icon-close.svg");
        /*position: relative;
        
        top: 2rem;
        height: 19px;
        width: 19px;
        margin: 0;
        display: unset !important;*/
    }

    .toggle-nav-icon[b-86oanrukko] {
        position: absolute;
        background-image: url("/assets/shared/icon-hamburger.svg");
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        left: 88%;
        display: block;
        z-index: 1;
    }
}
