@inject IJSRuntime JsRuntime
@using BlazorAnimate;

<div class="NavBar">
    <div><img class="logo" src="assets/shared/logo.svg"></div>
    <div class="line"></div>
    <div class="NavRect" data-visible="false">
        <ul>
            <li> <a href="/" @onclick="Home"> <span class="bold">00</span> <span>HOME</span> </a> </li>
            <li> <a href="destinations" @onclick="Destination"> <span class="bold">01</span> <span>DESTINATION</span> </a> </li>
            <li> <a href="crew-members" @onclick="Crew"> <span class="bold">02</span> <span>CREW</span> </a> </li>
            <li> <a href="technologies" @onclick="Technology"> <span class="bold">03</span> <span>TECHNOLOGY</span> </a> </li>
        </ul>
    </div>
    <button class="toggle-nav-icon" @onclick="ToggleNav" aria-controls="primary-navigation" aria-expanded="false" />
</div>

@code {
    public string bgUrl = string.Empty;
    private int screenSize;

    async Task ChangeBackground()
    {
        await JsRuntime.InvokeVoidAsync(identifier: "backgroundImgChange", bgUrl);
    }

    async Task getWidth()
    {
        screenSize = await JsRuntime.InvokeAsync<int>(identifier: "viewportWidth");
    }

    async Task ToggleNav()
    {
        await JsRuntime.InvokeVoidAsync(identifier: "toggleNav");
    }

    async Task Home()
    {
        await getWidth();
        bgUrl = CheckWidth(screenSize, "home");
        await ChangeBackground();
    }

    async Task Destination()
    {
        await getWidth();
        bgUrl = CheckWidth(screenSize, "destination");
        await ChangeBackground();
    }

    async Task Crew()
    {
        await getWidth();
        bgUrl = CheckWidth(screenSize, "crew");
        await ChangeBackground();
    }

    async Task Technology()
    {
        await getWidth();
        bgUrl = CheckWidth(screenSize, "technology");
        await ChangeBackground();
    }

    public string CheckWidth(int num, string page)
    {
        string url = string.Empty;
        if (num > 768)
        {
            url = $"/assets/{page}/background-{page}-desktop.jpg";
        }
        if (num <= 768 && num > 592)
        {
            url = $"/assets/{page}/background-{page}-tablet.jpg";
        }

        if (num <= 592)
        {
            url = $"/assets/{page}/background-{page}-mobile.jpg";
        }

        return url;
    }
}
