
<div class="NavBar container-fluid">
    <div class="row justify-content-between">
        <div class="col-1 align-self-center"><img class="logo" src="assets/shared/logo.svg"></div>
        <div class="line col"></div>
        <div class="NavRect col-4">
            <ul class="d-flex justify-content-evenly align-items-center">
                <li> <a href="#"> <b>00</b> HOME </a> </li>
                <li> <a href="#"> <b>01</b> DESTINATION </a> </li>
                <li> <a href="#"> <b>02</b> CREW </a> </li>
                <li> <a href="#"> <b>03</b> TECHNOLOGY </a> </li>
            </ul>
        </div>
    </div>
</div>


@code {

}
