/* _content/SpaceTourismWebSite/Controls/CrewMemberComponent.razor.rz.scp.css */
/*  GOOGLE FONT  */

/*   
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/


.crew-body[b-1mtso0i8tl] {
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

.member-info[b-1mtso0i8tl] {
    position: absolute;
    left: 167px;
    margin-top: 174px;
}

.member-info + img[b-1mtso0i8tl] {
    position: absolute;
    left: 770.93px;
}

.member-info h2[b-1mtso0i8tl] {
    font-family: 'Bellefair', serif;
    box-sizing: border-box;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 15px;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.member-info h1[b-1mtso0i8tl] {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 34px;
}

.member-info p[b-1mtso0i8tl] {
    font-family: 'Barlow', sans-serif;
    color: var(--light-blue);
    width: 444px;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 113px;
}

.progress-container[b-1mtso0i8tl] {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 132px;
}

.circle[b-1mtso0i8tl] {
    background-color: var(--white);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    opacity: 0.17;
    mix-blend-mode: normal;
    transition: 0.4s ease;
}

.active[b-1mtso0i8tl] {
    opacity: 1;
}
/* _content/SpaceTourismWebSite/Controls/ExploreButtonComponent.razor.rz.scp.css */

/*  Explore Button  */

.container[b-augwjhhhch] {
    position: absolute;
    left: 911px;
    top: 405px;
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-btn[b-augwjhhhch] {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    letter-spacing: 2px;
    color: var(--black);
    height: 274px;
    width: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    z-index: 1;
}

.circle-overlay[b-augwjhhhch] {
    position: absolute;
    background: var(--white);
    height: 450px;
    width: 450px;
    border-radius: 50%;
    mix-blend-mode: normal;
    border: none;
    opacity: 0;
    transition: 0.4s;
}

.container a:link[b-augwjhhhch],
.container a:visited[b-augwjhhhch] {
    text-decoration: none;
    color: var(--black);
}
/* _content/SpaceTourismWebSite/Controls/PlanetsComponent.razor.rz.scp.css */
/*  GOOGLE FONT  */

/*   
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/

.planet-body[b-hyweo7ic62] {
    position: absolute;
    left: -601.5px;
    height: 445px;
    width: 1046px;
    display: flex;
    justify-content: space-between;
}

.planet-message[b-hyweo7ic62] {
    height: 392px;
    width: 444px;
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

img[b-hyweo7ic62] {
    height: 445px;
    width: 445px;
}

.planet-body h1[b-hyweo7ic62] {
    font-size: 100px;
    margin-bottom: 14px;
    font-family: 'Bellefair', serif;
}

.planet-message p:nth-child(2)[b-hyweo7ic62] {
    font-size: 18px;
    line-height: 32px;
    font-family: 'Barlow', sans-serif;
}

.distance-travel[b-hyweo7ic62] {
    display: flex;
    margin-top: 27px;
}

.distance-travel h3[b-hyweo7ic62] {
    font-family: 'Bellefair', serif;
    font-size: 28px;
}

.distance-travel p[b-hyweo7ic62] {
    font-family: 'Barlow Condensed', sans-serif;
    height: 17px;
    font-size: 14px;
    letter-spacing: 2.36px;
    margin-bottom: 12px;
}

.distance-travel div:nth-child(1)[b-hyweo7ic62]  {
    margin-right: 79px;
}

.line2[b-hyweo7ic62] {
    margin-top: 46px;
    border-bottom: 1px solid white;
    opacity: 0.25;
    height: 1px;
    width: 444px;
}
/* _content/SpaceTourismWebSite/Controls/SubTitleComponent.razor.rz.scp.css */
.title-info[b-0yvhtd3do5] {
    position: relative;
    left: 166.5px;
    top: 112px;
    width: 400px;
    height: 34px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.72px;
}

.title-info span[b-0yvhtd3do5] {
    margin-right: 28px;
    letter-spacing: 4.72px;
    opacity: 0.25;
}
/* _content/SpaceTourismWebSite/Pages/CrewComponent.razor.rz.scp.css */
*[b-0mfkhqbax9] {
    border: 1px solid orange;
}

.page-setup[b-0mfkhqbax9] {
    margin-top: 200px;
    width: 100%;
}

/* _content/SpaceTourismWebSite/Pages/DestinationComponent.razor.rz.scp.css */
.mini-nav-body[b-ybxqefc3pk] {
    position: relative;
    height: 34px;
    width: 285.5px;
    left: 832px;
    top: 210px;
}

.destination-nav[b-ybxqefc3pk] {
    height: 34px;
    width: 285.5px;
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
}

    .destination-nav a[b-ybxqefc3pk] {
        display: inline-block;
        height: 100%;
    }

        .destination-nav a:link[b-ybxqefc3pk], .destination-nav a:visited[b-ybxqefc3pk] {
            text-decoration: none;
            color: var(--white);
        }

        .destination-nav a:hover[b-ybxqefc3pk] {
            border-bottom: 3px solid rgba(255, 255, 255, 0.4);
        }

        .destination-nav a:active[b-ybxqefc3pk] {
            text-decoration: none;
            border-bottom: 3px solid var(--white);
        }
/* _content/SpaceTourismWebSite/Pages/Index.razor.rz.scp.css */
/*  GOOGLE FONT  */

/*   
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/

/*  HOME-SPACE-INFO  */

.home-body[b-nem8b9r9y9] {
    height: 42%;
    width: 75%;
    height: 382px;
    width: 1109px;
    margin: 254px 165px 131px 165px;
    display: flex;
    justify-content: space-between;
}

    .home-body h3[b-nem8b9r9y9] {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 28px;
        letter-spacing: 4.72px;
        margin-bottom: 58px;
    }

    .home-body h1[b-nem8b9r9y9] {
        font-family: 'Bellefair', serif;
        font-size: 150px;
        margin-bottom: 24px;
    }

.space-message[b-nem8b9r9y9] {
    height: 100%;
    width: 450px;
}

    .space-message p[b-nem8b9r9y9] {
        font-family: 'Barlow', sans-serif;
        font-size: 18px;
        line-height: 32px;
        width: 444px;
    }
/* _content/SpaceTourismWebSite/Pages/TechnologyComponent.razor.rz.scp.css */
body[b-wgbk813lc4] {
}
/* _content/SpaceTourismWebSite/Shared/MainLayout.razor.rz.scp.css */
/* _content/SpaceTourismWebSite/Shared/NavBar.razor.rz.scp.css */
/*  NavBar  */

.NavBar[b-86oanrukko] {
    margin: 37px 0 0 auto;
    height: 96px;
    width: 1385px;
    letter-spacing: 2.7px;
    display: flex;
    align-items: center;
}

.NavRect[b-86oanrukko] {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81px);
    height: 96px;
    width: 830px;
    padding: 0;
    display: flex;
    position: absolute;
    left: 610px;
    top: 37px;
    font-family: 'Barlow Condensed', sans-serif;
}

    .NavRect ul[b-86oanrukko] {
        width: 80%;
        margin-left: 30px;
        display: flex;
        justify-content: space-evenly;
        margin-left: 57px;
    }

        .NavRect ul li[b-86oanrukko] {
            display: flex;
        }

    .NavRect a[b-86oanrukko] {
        display: inline-block;
        position: relative;
        height: 55%;
        top: 42px;
        font-size: 16px;
        text-decoration: none;
    }


        .NavRect a:link[b-86oanrukko], .NavRect a:visited[b-86oanrukko] {
            color: var(--white);
        }

        .NavRect a:hover[b-86oanrukko] {
            border-bottom: 3px solid rgba(255, 255, 255, 0.4);
        }

        .NavRect a:active[b-86oanrukko]{
            text-decoration: none;
            border-bottom: 3px solid var(--white);
        }

.focus[b-86oanrukko] {
    border-bottom: 3px solid var(--white);
}

.line[b-86oanrukko] {
    position: absolute;
    border-bottom: 1px solid white;
    opacity: 0.25;
    height: 1px;
    width: 473px;
    left: 165px;
    top: 85px;
    z-index: 1;
}

.logo[b-86oanrukko] {
    height: 48px;
    width: 48px;
    align-self: center;
}
