/*  GOOGLE FONT  */

/*   
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/

.tech-body {
    display: flex;
    margin-top: 145px;
}

.launch-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 137px;
    margin-left: 166.5px;
    height: 304px;
}

    .launch-container a:hover {
        border: 1px solid var(--white);
        transition: 0.4s ease;
    }

.circle {
    color: var(--white);
    font-family: 'Bellefair', serif;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    mix-blend-mode: normal;
    border: 1px solid rgba(255, 255, 255, 0.25);
    text-decoration: none;
    transition: 0.4s ease;
}


.active {
    background: var(--white);
    color: var(--black);
}

.tech-message {
    width: 470px;
    margin-top: 137px;
    margin-left: 80px;
}

.tech-message h5 {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: var(--light-blue);
    margin-bottom: 11px;
}

.tech-message h1 {
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    font-size: 56px;
    line-height: 64px;
    color: var(--white);
    margin-bottom: 17px;
    white-space: nowrap;
}

.tech-message p {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 32px;
    width: 444px;
    color: var(--light-blue);
}

.tech-body img {
    margin-left: 130px;
}
