@inject IJSRuntime JsRuntime

<div class="container">

    <div class="explore-btn">
        <h5><a @onmouseover="ShowOverlay" href="destinations">EXPLORE</a></h5>
    </div>


    <div class="circle-overlay">
    </div>
</div>

@code {

    async Task ShowOverlay()
    {
        await JsRuntime.InvokeVoidAsync(identifier:"btnOverlay");
    }
}
