@inject IJSRuntime JsRuntime

<div class="container">

    <div class="explore-btn">
        <h5><a @onmouseover="ShowOverlay" @onclick="ChangeBackground" href="destinations">EXPLORE</a></h5>
    </div>


    <div class="circle-overlay">
    </div>
</div>

@code {

     public string destDesktopUrl = "/assets/destination/background-destination-desktop.jpg";

    async Task ShowOverlay()
    {
        await JsRuntime.InvokeVoidAsync(identifier:"btnOverlay");
    }

     async Task ChangeBackground()
    {
        await JsRuntime.InvokeVoidAsync(identifier: "backgroundImgChange", destDesktopUrl);
    }

}
