@using Newtonsoft.Json;
@using SpaceTourismWebSite.Model;
@using BlazorAnimate;



    <section class="planet-body">
        <img src=@planet.destinations[@Index].images.png />
        <div class="planet-message">
            <h1>@planet.destinations[@Index].name.ToUpper()</h1>
            <p>
                @planet.destinations[@Index].description
            </p>

            <div class="line2"></div>

            <div class="distance-travel">
                <div>

                    <p>AVG. DISTANCE</p>
                    <h3>@planet.destinations[@Index].distance.ToUpper()</h3>
                </div>

                <div>

                    <p>EST. TRAVEL TIME</p>
                    <h3>@planet.destinations[@Index].travel.ToUpper()</h3>
                </div>
            </div>
        </div>
    </section>






@code {

    [Parameter]
    public int Index { get; set; }

    #region "Planet Model"

    public static string DestinationData = @"C:\Users\rynmo\OneDrive\Desktop\MSSA\UnitedTraining\Project3\SpaceTourismWebSite\Data\destinations.json";
    static string jsonFile = File.ReadAllText(DestinationData);


    Planet.Rootobject planet = JsonConvert.DeserializeObject<Planet.Rootobject>(jsonFile);

    #endregion


}
