<h2 class="@CssClass"><span>@MenuItem</span>@Title</h2>

@code {
    [Parameter]
    public string MenuItem { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public virtual string CssClass { get; set; }
}
